

.Formcomps {
    width: 100%;
    min-width: 100%;
    max-width: 1200px;
    min-height: 20vh;
    height: 100%;
  
   
    padding: 10px;
    margin: 10px;
   
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    align-items: center;
    place-items:center;
    box-shadow: 1.5px 1px 3px 2px rgba(0, 0, 0, 0.2);
  
}
.inputndd{
    display: flex;
    width: 100%;
        margin: 2px;
        flex-direction: row;
    align-items: center;
    justify-content: center;
}
.qnInput {
    width: 70%;
    margin: 2px;

}

.menuInput {
    width: 20%;
    
    

}
.radioBtn{
    width: 90%;
    display: flex;
    flex-direction: column;
    padding:5px;
    margin: 5px;
    height: fit-content;
    /* align-items: flex-start; */
    justify-content: flex-start;

}
.checkBtn {
    width: 90%;
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin: 5px;
    height: fit-content;
    /* align-items: flex-start; */
    justify-content: flex-start;

}


.addBtn {
  
    top: 10%;
    right: 18%;
    bottom: 10%;
    cursor: pointer;
    /* width: 40px; */
    height: 40px;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;}
