.container{
    height: 100%;
    width: 100%;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.btn{
    border:2px solid black;
        display: flex;
            align-items: center;
            justify-content: center;
            background-color: aliceblue;
            margin: 2px;
            padding: 5px;
            height: 40px;
            width: 40px;
            border-radius: 10px;
            cursor:pointer;
            box-shadow: 2px 2px 4px
            

}
.btn:active{
box-shadow: 1px 1px 2px
}
.radioContainer{
    width: 100%;
    cursor:pointer;
    justify-content: space-between;
}
.rmvicon{
    justify-content: flex-end;
}
.radioRow{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.labelText{
    width: 100%;
    justify-items: flex-end;
}