.Container{
    width: 50%;
    background-color: white;
    border-radius: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow:  -2px -3px 3px 3px rgb(23, 97, 255);
      width: 100%;
         min-width: 100%;
         max-width: 1200px;
         min-height: 20vh;
         height: 100%;
      
      
         padding: 10px;
         margin: 10px;
}

 .Title{
    width: 90%;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 3%;
 }

 .Description{
    width: 90%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 4%;
    padding-top: 1%;
 }