

.main {
    width: 100%;
    height: 100%;
    
    display:flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    background-color: #DDE6ED;
    position: relative;
    border-radius: 10px;
    
    
    /* padding:5px */

}
.wrapper{

    border-radius: 10px;;
    height: 80%;
    max-width: 100%;
    padding: 10px;
    margin: 10px; 
    display: flex;
    flex-direction: column;
    align-items:center ;
    background-color: hwb(0 15% 38%);
    
    border: 2px solid hwb(0 63% 37%);;
   
}
.dateCard{
    width: 100%;
    height:30%;
    padding:10px;
    display: flex;
    position:absolute;
    background-color: rgb(122, 181, 234);
        align-items: center;
        justify-content: flex-start;
        bottom: 0;
}


   


