

.main {
    width: 100%;
    min-height: 100vh;
   
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(214, 236, 247);
    
    
    /* padding:5px */

}
.wrapper{
   

    min-height: 100vh;
    max-width: 1000px;
    width: 1000PX;
    
    padding: 10px;
    /* margin: 10px; */
    
    display: flex;
    flex-direction: column;
    align-items:center ;
   
    
    border: 10px solid black;
   
}

.addBtn{
    position: sticky;
    top:800px;
    right: 15%;
    bottom: 0;
   /* // bottom: 10%; */
    cursor: pointer;
    /* width: 40px; */
    height: 100px;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
    margin: 10px;
    border-radius:10px ;

   
}